<!DOCTYPE html>
<html>
  <head>
    <title>{{user.name}} {{user.surname}}</title>
    <a href="../" style="text-align: center;"><h2>Main</h2></a>
  </head>
<body>
<h2>{{user.name}} {{user.surname}}</h2>
<h6>На сайте с {{user.created_date}}</h6>
<img src="{{user.img}}" alt="user" class="img-circle img-responsive" style="width:5%; heigth:5%;">
{% if user.description != '' %}
<p><strong>Обо мне: </strong>{{user.description}}</p>
{% endif %}
{% if current_user.id != user.id %}
<p><a href="/messages?from_id={{current_user.id}}&to_id={{user.id}}">Написать сообщение</a></p>
<p><a href="/jobs_list/{{user.id}}">Заказы</a></p>
{% endif %}
<h3>Проекты</h3>
{% if current_user.id == user.id %}
<a href="/project/{{user.id}}">Добавить проект</a>
{% endif %}
  <table>
  <tr>
    {% for project in projects %}
      <div>
        <h4>{{project.title}}</h4>
        <div>
          <img src="{{project.img}}" alt="user" style="width:10%; heigth:10%;">
        </div>
        <div>
          <h4>{{project.description}}</h4>
       </div>
        <a href="/project/{{project.id}}">Изменить</a>
        <a href="/project/{{project.id}}">Удалить</a>
      </div>
    {% endfor %}
  </tr>
  </table>
  </body>
</html>